* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: white;
    padding: 10px 30px;
  }
  
  
  nav {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .jogo-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
    color: white;
    padding: 20px 5px;
    margin-top: -10px;
  }
  
  .time-logo {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .time-logo .club {
    width: 50px;
    height: 50px;
  }
  
  .competicoes {
    background-color: white;
    text-align: center;
    padding: 25px 10px;
  }
  
  .lista strong {
    color: #287bff;
  }

  .color{
    color: #287bff;
  }
  