/* Estiliza o body para centralizar o conteúdo */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

/* Container para os elementos do formulário */
.form-container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

/* Estiliza o label */
label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #333;
}

/* Estiliza o input */
input {
    padding: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

/* Estiliza a mensagem de erro */
#mensagem-erro {
    color: red;
    font-weight: bold;
    display: none; /* Inicialmente oculta */
    margin-top: 10px;
}

/* Estiliza o botão */
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}
